*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
}

.menu-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar{
   position: fixed;
   top: 0;
   right: -250px;
   background-color: #333;
  width: 250px;
  height: 100%;
  color: white;
  transition: right 0.3s ease;
  padding: 2rem 1rem;
}
.sidebar.open{
  right: 0;
}

.sidebar ul{
  list-style: none;
  padding: 0;
}

.sidebar li{
  margin: 1rem 0;
}

.sidebar a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.close-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}




